@charset "UTF-8";

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  /* 3*/
  scroll-behavior: smooth;
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  text-rendering: optimizeSpeed;
  margin: 0;
  min-height: 100vh;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  /* 2 */
  border-top-width: 1px;
  box-sizing: content-box;
  clear: both;
  color: inherit;
  /* 1 */
  height: 0;
  margin: 0;
  /* 1 */
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  vertical-align: middle;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.u-desktop {
  display: none;
}

.font-family-en {
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  /* フォントサイズの正確に */
  -webkit-text-size-adjust: 100%;
  /* 文字をシャープに */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  color: #333333;
  font-family: "源ノ角ゴシック", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ホバー */

a {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
}

/* video 枠線無し */

video {
  /* // iPhone safariの枠線を消す */
  filter: drop-shadow(0px 0px rgba(0,0,0,0));

  /* // PCのChromeの枠線を消す */
  outline: none;
  border: none;
}

.c-buger-button {
  cursor: pointer;
  height: 2.5rem;
  margin-left: auto;
  padding: 5px;
  /* ボタンの大きさ  */
  position: relative;
  width: 2.5rem;
  /* 最前面に */
  z-index: 10;
}

.c-buger-button.open {
  position: fixed;
  right: 0;
  top: 0;
}

.c-buger-button__line {
  /* バーガー線の色 */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background-color: #333333;
  display: block;
  /* 線の長さと高さ */
  height: 1px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
  /* バーガー線の位置基準として設定 */
  width: 1.25rem;
}

.c-buger-button__line::before,
.c-buger-button__line::after {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background-color: #333333;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.3s;
  width: 1.25rem;
}

.c-buger-button__line::before {
  /* 上の線の位置 */
  -webkit-transform: translateY(-0.46875rem);
  -ms-transform: translateY(-0.46875rem);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translateY(-0.46875rem);
  transition: all 0.3s;
}

.c-buger-button__line::after {
  /* 下の線の位置 */
  -webkit-transform: translateY(0.46875rem);
  -ms-transform: translateY(0.46875rem);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translateY(0.46875rem);
  transition: all 0.3s;
}

/***** メニューオープン時 *****/

.c-buger-button__line.open {
  /* 真ん中の線を透明に */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background-color: transparent;
  transition: all 0.3s;
}

.c-buger-button__line.open::before,
.c-buger-button__line.open::after {
  background-color: #000000;
  content: "";
  height: 1px;
  /* 上下の線の色を変える */
}

.c-buger-button__line.open::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* 上の線を傾ける */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: rotate(45deg);
  transition: all 0.3s;
}

.c-buger-button__line.open::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* 下の線を傾ける */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: rotate(-45deg);
  transition: all 0.3s;
}

.c-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background: #555555;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.2em;
  margin: 0 auto;
  max-width: 14.375rem;
  padding: 1.02375rem 0;
  text-transform: uppercase;
  width: 100%;
}

.c-button::after {
  background-image: url("../images/icon-arrow-right-s.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 0.5rem;
  margin-left: 1.25rem;
  width: 0.5rem;
}

.c-button--contact {
  font-size: 0.875rem;
  max-width: 12.5rem;
  padding: 0.92625rem 0;
}

.c-button--contact.c-button::after {
  display: none;
}

.c-mv-title {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-section-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  /*display: flex;*/
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

/*
.c-section-title::after {
  border-top: solid 1px #707070;
  content: "";
  display: inline-block;
  margin-left: 1.25rem;
  width: 100%;
}
*/

.c-section-title--reverse::after {
  content: "";
  margin-right: 1.25rem;
}

.l-google-map {
  margin-top: 2.5rem;
}

.l-inner {
  height: inherit;
  margin: 0 auto;
  max-width: 33.75rem;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/* .l-lower-company {
  margin-top: 2.5rem;
} */

.l-lower-mv {
  margin-top: 2.5rem;
}

.l-lower-works {
  margin-top: 2.5rem;
}

.l-recentWorks {
  margin-top: 3.75rem;
}

.l-top-contact {
  margin-top: 2.5rem;
}

.p-breadcrumb {
  display: none;
}

.p-breadcrumb__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-breadcrumb__item img {
  height: 0.875rem;
  width: 1rem;
}

.p-breadcrumb__item a {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.p-breadcrumb__item:not(:last-child)::after {
  background: url(../images/icon-arrow-right-gray.svg) no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  height: 0.5875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 0.38125rem;
}

.p-card__title {
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 1.25rem;
}

.p-card__title span {
  font-weight: normal;
}

.p-card__text {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

.p-cards__item + .p-cards__item {
  margin-top: 2.75rem;
}

.p-card--pc {
  display: none;
}

.p-lower-company {
  background: #333;
  color: #fff;
}

.p-lower-company__inner.l-inner {
  max-width: 550px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-company-info {
  font-size: 0.875rem;
}

.p-company-info dt {
  font-weight: normal;
  line-height: 2.1428;
  width: 23%;
  flex: 0 0 auto;
  text-align: right;
}

.p-company-info dd {
  display: inline;
  line-height: 2;
  margin-left: 1.5em;
  text-align: left;
  /* width: 70%; */
}

.p-company-info__wrapper {
  align-items: center;
  /* border-bottom: solid 1px #CDD6DD; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  padding: 0.95rem 0;
}

/* .p-company-info__wrapper:first-child {
  border-top: solid 2px #98A6B5;
} */

/* .p-company-info__wrapper span {
  display: none;
} */

.p-company {
  background: #f7f7f7;
}

.p-contact__inner {
  padding-bottom: 6.25rem;
  padding-top: 2.5rem;
}

.p-contact__lead {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  color: #555555;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  text-align: center;
}

.p-contact__form {
  margin-top: 3.75rem;
}

.p-footer {
  background: #333333;
  color: #ffffff;
}

.p-footer__inner {
  margin: 0 auto;
  max-width: 23.9375rem;
  padding: 2.5rem 1.25rem 2.125rem;
  width: 100%;
}

.p-footer__nav-lists {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.p-footer__info {
  margin-left: 0;
}

.p-footer__nav-list {
  /* font-size: 1rem; */
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.p-footer__logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.p-footer__address {
  font-size: 0.875rem;
  line-height: 1.8571;
  margin-top: 0.875rem;
  text-align: center;
  text-transform: capitalize;
}

.p-footer__copyright {
  background-color: #ffffff;
  color: #333333;
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 1.2625rem 0;
  text-align: center;
}

.p-form__item label {
  font-size: 0.875rem;
  font-weight: 400;
}

.p-form__text {
  border: solid 1px #CDD6DD;
  display: block;
  height: 3.125rem;
  margin-top: 1.3125rem;
  padding: 0.8125rem 1.25rem;
  width: 100%;
}

.p-form__radio {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
}

.p-form__radio input {
  height: 1.875rem;
  margin-right: 0.5625rem;
  width: 1.875rem;
}

::-webkit-input-placeholder {
  color: #CDD6DD;
  font-size: 1rem;
}

::-moz-placeholder {
  color: #CDD6DD;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: #CDD6DD;
  font-size: 1rem;
}

::-ms-input-placeholder {
  color: #CDD6DD;
  font-size: 1rem;
}

::placeholder {
  color: #CDD6DD;
  font-size: 1rem;
}

.p-form__item select {
  background: url(../images/icon-pull-down.svg) no-repeat;
  background-position: top 50% right 21px;
  background-size: 0.5875rem 0.38125rem;
  border: solid 1px #CDD6DD;
  display: block;
  height: 3.125rem;
  margin-top: 1.3125rem;
  padding: 0.8125rem 1.25rem;
  position: relative;
  width: 100%;
}

.p-form__item textarea {
  border: solid 1px #CDD6DD;
  height: 8.75rem;
  margin-top: 22px;
  padding: 1.0625rem 1.25rem;
  width: 100%;
}

.p-form__radio:first-of-type {
  margin-top: 24px;
}

.p-form__radio:not(:first-of-type) {
  margin-top: 10px;
}

.p-form__button {
  margin-top: 2.5rem;
}

.p-form__item--company {
  margin-top: 2.5625rem;
}

.p-form__item--radio {
  margin-top: 2.5625rem;
}

.p-form__item--mail {
  margin-top: 2.5625rem;
}

.p-form__item--tel {
  margin-top: 2.5625rem;
}

.p-form__item--select {
  margin-top: 2.5625rem;
}

.p-form__item--textarea {
  margin-top: 2.5625rem;
}

.p-google-map iframe {
  height: 17.5rem;
  width: 100%;
}

.p-header {
  height: 2.5rem;
}

.p-header__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  padding-left: 1.25rem;
}

.p-header__logo {
  max-width: 6.25rem;
  width: 100%;
}

.p-lower-header {
  height: 2.5rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.p-lower-header__logo {
  max-width: 6.25rem;
  width: 100%;
}

.p-lower-header__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  padding-left: 1.25rem;
}

.p-lower-header__nav-pc {
  display: none;
}

.p-lower-mv {
  position: relative;
  z-index: 2;
}

/* .p-lower-nav__list--contact a {
  display: block;
} */

.p-lower-nav__list a {
  display: block;
  padding: 0.625rem 0;
}

.p-lower-works__cards {
  padding-left: 0.6875rem;
  padding-right: 0.6875rem;
}
.p-lower-works__cards:not(:last-of-type) {
  margin-bottom: 40px;
}

.p-media__inner {
  padding-bottom: 3.75rem;
  padding-top: 3.4375rem;
}

.p-media__inner--company {
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
}

.p-media__body {
  margin-top: 1.25rem;
  margin-top: 20px;
}

.p-media__img-wrapper {
  position: relative;
  width: 100%;
}

.p-media__img-wrapper::before {
  content: "";
  display: block;
  padding-top: 60%;
}

.p-media__img {
  -o-object-fit: cover;
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.p-media__img img {
  height: 100%;
}

.p-media__text {
  font-size: 0.75rem;
  line-height: 2;
  margin-top: 1.125rem;
}

.p-media__button {
  margin-top: 1.5625rem;
}

.p-nav {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  background: #d2fd51;
  bottom: 0;
  display: block;
  left: -100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: 5;
}

.p-nav.open {
  left: 0;
}

.p-nav__list--logo {
  margin: 0 auto;
  max-width: 18rem;
  width: 100%;
}

.p-nav__lists {
  height: 100%;
  overflow: scroll;
  padding-bottom: 15%;
  position: absolute;
  top: 15%;
  width: 100%;
}

.p-nav__list {
  color: #000;
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.p-nav__list a {
  padding: 0.625rem;
}

.p-nav__list + .p-nav__list {
  margin-top: 3.9375rem;
  margin-top: 5.1vh;
}

.p-nav--pc {
  display: none;
}

.p-nav--sp {
  display: block;
}

.p-recentWorks__title {
  font-size: 1.25rem;
  font-weight: bold;
}

.p-recentWorks__cards {
  margin-top: 1.25rem;
  padding: 0 0.6875rem;
}

.p-top-contact {
  background: url(../images/bg-contact-img-1.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}

.p-top-contact__inner {
  padding-bottom: 1.8125rem;
  padding-top: 1.8125rem;
  text-align: center;
}

.p-top-contact__title {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.p-top-contact__text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 2;
  margin-top: 1.0625rem;
}

.p-top-contact__button {
  margin-top: 2.1875rem;
}

.p-top-contact__button a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  letter-spacing: 0.01em;
  max-width: 13.75rem;
  padding: 0.9375rem 0;
  transition: all 0.3s;
}

.p-top-contact__button .c-button:hover {
  background: #606060;
  opacity: 1;
}

.p-top-mv {
  height: 100%;
}

.p-top-mv__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.p-top-mv__title {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.5454;
  margin-top: 1.4375rem;
  order: 2;
  padding: 0 1.25rem;
}

/* .p-top-mv__video {
  max-width: 800px;
  width: 100%;
  height: auto;
} */

.p-top-mv__wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
}

.p-top-mv__wrapper::before {
  content: "";
  display: block;
  padding-top: 56.25%;
  /* padding-top: 62.564%; */
}

.p-top-mv__video {
  -o-object-fit: cover;
  bottom: 0;
  height: auto;
  /* height: 100%; */
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* メインビュー　画像用 style */
.p-top-mv__img {
  -o-object-fit: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* 追加分 */

.p-top-mv__scroll-icon {
  display: none;
}

.p-lower-mv__wrapper {
  display: block;
  position: relative;
  width: 100%;
  z-index: -1;
}

.p-lower-mv__wrapper::before {
  content: "";
  display: block;
  padding-top: 48.25%;
}

.p-lower-mv__wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.p-lower-works__cards.p-cards--s {
  padding: 0;
}

.p-cards--s img {
  height: 100%;
}

.p-card__img img,
.p-card__img--lage img {
  height: auto;
}


@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }

  .u-mobile {
    display: none;
  }

  html {
    font-size: 1.4545454545vw;
  }

  a:hover {
    opacity: 0.7;
  }

  .c-buger-button {
    height: 5rem;
    width: 5rem;
  }

  .c-buger-button--lower {
    display: none;
  }

  .c-buger-button__line {
    height: 2px;
    width: 28px;
    /* width: 2.5rem; */
  }

  .c-buger-button__line::before,
  .c-buger-button__line::after {
    /* width: 2.5rem; */
    width: 28px;
  }

  .c-buger-button__line::before {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    /* -webkit-transform: translateY(-0.9375rem);
    -ms-transform: translateY(-0.9375rem);
    transform: translateY(-0.9375rem); */
  }

  .c-buger-button__line::after {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    /* -webkit-transform: translateY(0.9375rem);
    -ms-transform: translateY(0.9375rem);
    transform: translateY(0.9375rem); */
  }

  .c-button {
    font-size: 1.25rem;
    max-width: 17.5rem;
    padding: 1.15625rem 0;
  }

  .c-button--left {
    margin: unset;
  }

  .c-button--right {
    margin-right: 0;
  }

  .c-button::after {
    height: 0.5875rem;
    width: 0.5875rem;
  }

  .c-button--contact {
    font-size: 1rem;
    max-width: 17rem;
    padding: 0.78125rem 0;
    transition: all .3s;
  }

  .c-button--contact:hover {
    opacity: 0.8;
  }

  .c-mv-title {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    font-size: 2.75rem;
    left: 9.6%;
    transform: translate(0, -50%);
  }

  .c-section-title {
    font-size: 1.875rem;
  }

  .c-section-title::after {
    max-width: 20rem;
    width: 100%;
  }

  .c-section-title--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .l-google-map {
    margin-top: 6.375rem;
    /* margin-top: 3.75rem; */
  }

  .l-inner {
    max-width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .l-top-contact {
    margin-top: 6.375rem;
  }

  .l-lower-company {
    margin-top: 0;
  }

  .l-lower-mv {
    margin-top: 0;
  }

  .l-lower-works {
    margin-top: 5.9rem;
  }

  .l-recentWorks {
    margin-top: 6.25rem;
  }

  .p-breadcrumb {
    display: block;
  }

  .p-breadcrumb__inner {
    margin: 0 auto;
    max-width: 71.625rem;
    padding: 2.5rem 1.25rem;
    width: 100%;
  }

  .p-breadcrumb__items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .p-cards__item + .p-cards__item {
    margin-top: 0;
  }

  .p-card--pc {
    display: block;
  }

  .p-cards {
    -ms-grid-columns: 1fr 1.375rem 1fr 1.375rem 1fr;
    grid-column-gap: 1.375rem;
    grid-row-gap: 2.6875rem;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .p-cards--s {
    grid-column-gap: 5px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .p-lower-company__inner.l-inner {
    max-width: 47rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .p-company-info dt {
    font-size: 1rem;
    line-height: 1.875;
    text-align: right;
  }

  .p-company-info dd {
    font-size: 1rem;
    line-height: 2.125;
  }

  .p-company-info__wrapper {
    padding: 0.8125rem 0;
  }

  .p-company-info__wrapper span {
    display: inline-block;
    margin: 0 0.3125rem;
  }

  .p-contact__inner {
    padding-top: 5.9rem;
  }

  .p-contact__lead {
    max-width: 1000px;
  }

  .p-contact__form {
    margin-top: 4.75rem;
  }

  .p-footer__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 71.875rem;
    padding: 2.5rem 1.5625rem 3.1875rem;
  }

  .p-footer__nav-lists {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: unset;
  }

  .p-footer__nav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    /* margin-top: 0.8125rem; */
    order: 2;
  }

  .p-footer__info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    margin-right: 17.875rem;
    order: 1;
  }

  .p-footer__nav-list + .p-footer__nav-list {
    margin-left: 0;
    margin-top: 1rem;
    /* margin-top: 1.5625rem; */
  }

  .p-footer__logo {
    margin-top: 0;
    text-align: left;
  }

  .p-footer__address {
    margin-top: 2.3125rem;
    text-align: left;
  }

  .p-form__inner {
    margin: 0 auto;
    max-width: 35.5rem;
    width: 100%;
  }

  .p-form__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .p-form__item label {
    font-size: 0.875rem;
    width: 39%;
  }

  .p-form__item--radio {
    margin-top: 1.75rem;
  }

  .p-form__item--radio label {
    height: 3.125rem;
  }

  .p-form__text {
    margin-top: 0;
    max-width: 21.625rem;
  }

  /* .p-form__radio {
    font-size: 1rem;
  } */

  .p-form__item select {
    margin-top: 0;
    max-width: 21.625rem;
  }

  .p-form__item textarea {
    margin-top: 0;
    max-width: 21.625rem;
  }

  .p-form__radio:first-of-type {
    margin-top: 0;
  }

  .p-form__radio:not(:first-of-type) {
    margin-top: 10px;
  }

  .p-form__radio-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }

  .p-form__item--company {
    margin-top: 1.25rem;
  }

  .p-form__item--radio {
    margin-top: 1.75rem;
  }

  .p-form__item--mail {
    margin-top: 2.6875rem;
  }

  .p-form__item--tel {
    margin-top: 2.25rem;
  }

  .p-form__item--select {
    margin-top: 2.5rem;
  }

  .p-form__item--textarea {
    margin-top: 2.5rem;
  }

  .p-google-map iframe {
    height: 26.25rem;
  }

  .p-header {
    height: 5rem;
  }

  .p-header__inner {
    padding-left: 2.5rem;
  }

  .p-header__logo {
    max-width: 7.8125rem;
    width: 100%;
  }

  .p-lower-header {
    height: 5rem;
  }

  .p-lower-header__logo {
    max-width: 7.8125rem;
    width: 100%;
  }

  .p-lower-header__inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .p-lower-header__nav-pc,
  .p-lower-header__nav-pc nav,
  .p-lower-header__nav-pc .p-lower-nav__lists,
  .p-lower-header__nav-pc .p-lower-nav__list {
    height: inherit;
  }

  .p-lower-header__nav-sp {
    display: none;
  }

  .p-lower-header__nav-pc {
    display: block;
    margin-left: auto;
  }

  .p-lower-nav__lists {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .p-lower-nav__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* font-size: 1rem; */
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .p-lower-nav__list--contact a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #9A0000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    padding: 0 2.875rem;
  }

  .p-lower-nav__list + .p-lower-nav__list {
    /* margin-left: 3.125rem; */
    margin-left: 2.125rem;
  }

  .p-lower-works__cards {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lower-works__cards:not(:last-of-type) {
    margin-bottom: 75px;
  }

  

  .p-media__inner {
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
  }

  .p-media__inner--company {
    padding-bottom: 6.25rem;
    padding-top: 6.3125rem;
  }

  .p-media__body {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  .p-media__body--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .p-media__img-wrapper {
    margin-left: 0;
    /* margin-right: 2.5rem; */
    margin-right: 0;
    max-width: 30rem;
    /* max-width: 37.5rem; */
    width: 59%;
  }

  .p-media__img-wrapper::before {
    padding-top: 60%;
  }

  .p-media__img--reverse {
    /* margin-left: 2.5rem; */
    margin-left: 0;
    margin-right: 0;
  }

 

  .p-media__img img {
    height: auto;
  }

  .p-media__text-wrapper {
    margin-left: 2.5rem;
    text-align: left;
    width: 41%;
  }

  .p-media__text-wrapper--reverse {
    margin-left: 0;
    margin-right: 2.5rem;
  }

  .p-media__text {
    line-height: 2.25;
    margin-top: 0;
    padding-top: 1.8125rem;
  }

  .p-media__button {
    margin-top: 2.0625rem;
  }

  .p-nav__lists {
    text-align: center;
  }

  .p-nav__list--logo {
    max-width: 18rem;
  }

  .p-nav__list {
    font-size: 2.125rem;
  }

  .p-nav__list:not(:first-child) {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .p-nav__list + .p-nav__list {
    margin-top: 2.5rem;
  }

  .p-nav--pc {
    display: block;
  }

  .p-nav--sp {
    display: none;
  }

  .p-recentWorks__title {
    font-size: 1.875rem;
  }

  .p-recentWorks__cards {
    margin-top: 2.5rem;
    padding: 0;
  }

  .p-top-contact {
    background: url(../images/bg-contact-img-1.jpg) no-repeat center;
    background-size: cover;
  }

  .p-top-contact__inner {
    padding-bottom: 3.625rem;
    padding-top: 3.375rem;
    text-align: left;
  }

  .p-top-contact__title {
    font-size: 2.5rem;
  }

  .p-top-contact__text {
    font-size: 1rem;
    margin-top: 15px;
  }

  .p-top-contact__button {
    margin-top: 35px;
  }

  .p-top-contact__button a {
    max-width: 17.5rem;
    padding: 1.15625rem 0;
  }

  .p-top-mv__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;	  
    justify-content: left;
    /*justify-content: center;*/
    margin: 0 auto;
    max-width: 85.375rem;
    width: 100%;
    /* -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 85.375rem;
    position: relative;
    width: 100%; */
  }

  .p-top-mv__title {
    /* -webkit-transform: translate(20%, -52%); */
    /* -ms-transform: translate(20%, -52%); */
    /* background-color: #fff; */
    font-size: 2rem;
    left: 0;
    line-height: 1.6875;
    margin-top: 0;
    padding: 1rem 1.25rem;
    width: 40%;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(20%, -52%); */
    z-index: 2;
  }

  .p-top-mv__wrapper {
    margin-right: 0;
    max-width: 68.75rem;
    width: 50%;
  }

  /* .p-top-mv__wrapper::before {
    padding-top: 62.546%;
  } */

  /* メインビュー　スクロールアイコン */
  .p-top-mv__scroll-icon {
    display: block;
    position: relative;
    width: 50%;
    font-size: 14px;
    color: #999999;
    text-align: center;
  }

  .p-top-mv__scroll-text {
    position: absolute;
    top: 50%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 110px;
  }

  .p-top-mv__scroll-text span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 90px;
    height: 90px;
    border: 1px dashed #999999;
    border-radius: 100%;
    box-sizing: border-box;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
  }

  .p-top-mv__scroll-text span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 30px;
    background: #999999;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .p-top-mv__scroll-text span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    -webkit-transform: translate(0%, 50%) rotate(-45deg);
    -ms-transform: translate(0%, 50%) rotate(-45deg);
    transform: translate(0%, 50%) rotate(-45deg);
    box-sizing: border-box;
  }

  @keyframes sdb {
    0% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    20% {
      -webkit-transform: translate(-50%, 10px);
      transform: translate(-50%, 10px);
    }
    40% {
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }

  /* メインビュー　スクロールアイコン */

  /* 下層　mv */
  .p-lower-mv__wrapper {
    position: relative;
    width: 100%;
    z-index: -1;
  }
  
  .p-lower-mv__wrapper::before {
    content: "";
    display: block;
    padding-top: 27.85%;
  }
  
  .p-lower-mv__wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  .p-card__img {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .p-card__img::before {
    content: "";
    display: block;
    padding-top: 52.274%;
  }
  .p-card__img--lage.p-card__img::before {
    padding-top: 70.456%;
  }
  .p-card__img--m.p-card__img::before {
    padding-top: 56.82%;
  }

  .p-card__img img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .p-card__img--s.p-card__img::before {
    content: "";
    display: block;
    padding-top: 177.5%;
  }

  .p-card__title--center, 
  .p-card__text--center{
    text-align: center;
  }

}

@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
/*# sourceMappingURL=map/style.css.map */